<IfModule mod_rewrite.c>
  Options +FollowSymLinks
  RewriteEngine On
  RewriteBase /
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond $1 !^(index\.php|captcha|images|robots\.txt|css|javascripts|audio)
  RewriteRule ^(.*)$ /index.php?/$1 [L]
</IfModule>


<IfModule mod_headers.c>
Header always append X-Frame-Options SAMEORIGIN
</ifModule>